<!DOCTYPE html>
<html lang=ko>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no,address=no,email=no">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="권한관리">
    <meta property="og:image" content=""><!-- 카카오톡으로 url을 보낼 때 같이 보이는 이미지가 있는 경로 -->
    <meta property="og:description" content="교육연구학생지도 권한관리">

    <meta name="description" content="교육연구학생지도 권한관리">
    <meta name="keywords" content="교육연구학생지도 권한관리">

    <title>교육연구학생지도 권한관리</title>

    <link rel="stylesheet" href="../css/desktop.css" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script type="text/javascript">

    function fnSearch(){
      document.querySelector('#grid tbody').innerHTML='';   //테이블 초기화      
      fnSndData('/auth/index', {});
    }

    function fnAddRow() {

      let sklstfNm = document.querySelector('#sklstfNm').value;
      let sklstfNo = document.querySelector('#sklstfNo').value;
      let deptNm = document.querySelector('#deptNm').value;
      let authCd = '1';
      if(document.querySelector('#authCd').value == '2'){
        authCd = '2';
      }
      let arrData = [{}];
      if(sklstfNo != ""){
        arrData = [{'SKLSTF_NM' : sklstfNm, 'SKLSTF_NO' : sklstfNo, 'DEPT_NM' : deptNm, 'AUTH_CD' : authCd}];
        fnMakeRow('#grid tbody', arrData,false);
      }else{
        fnMakeRow('#grid tbody', arrData, true);
      }
    }

    function fnDeleteRow() {

      let checkbox = document.querySelectorAll("#grid input[type='checkbox']:checked");
      var tr, td, sklstfNo, authCd, arrSklstfNo = [], arrAuthCd = [], arrData = [], objData = {};
      for(var i = 0; i < checkbox.length; i++){
        tr = checkbox[i].parentElement.parentElement;	//체크된 행의 row정보 찾기
			  td = tr.children;						//체크된 행의 셀 가져오기
        
        if( td[1].children.length == 0){
          sklstfNo = td[1].innerText;
        }else{
          sklstfNo = td[1].children[0].value;
        }
        authCd = td[4].children[0].value;
        arrData.push({"SKLSTF_NO" : sklstfNo, "AUTH_CD" : authCd});                      
      }      
      fnSndData('/auth/destroy',arrData);   
    }

    function fnSave(){

      let checkbox = document.querySelectorAll("#grid input[type='checkbox']:checked");
      var tr, td, sklstfNo;
      let arrSklstfNo = [], arrAuthCd = [], objData = {}, arrData = [];
      for(var i = 0; i < checkbox.length; i++){
        let tr = checkbox[i].parentElement.parentElement;	//체크된 행의 row정보 찾기
			  let td = tr.children;						//체크된 행의 셀 가져오기

        var sklstfNo, authCd;

        if( td[1].children.length == 0){
          sklstfNo = td[1].innerText;
        }else{
          sklstfNo = td[1].children[0].value;
        }
        authCd = td[4].children[0].value;
        arrData.push({"SKLSTF_NO" : sklstfNo, "AUTH_CD" : authCd});    
        
      }      
      fnSndData('/auth/create',arrData)   
    }

    function fnSndData(url, obj) {
      document.querySelector('#grid tbody').innerHTML='';   //테이블 초기화    
      axios.get(url, {
        params:{
          sklstfNo: document.querySelector('#sklstfNo').value,
          authCd: document.querySelector('#authCd').value,
          gridData : JSON.stringify(obj)          
        }
      })
      .then(function (response) {        
        fnMakeRow('#grid tbody', response.data, false);
      })
      .catch(function (error) {
        console.log(error);
      });
    }

    function fnMakeRow(tgtGrid, arrData, isEmpty){
      let grid = document.querySelector(tgtGrid);
      let tr = grid.children
      var row, checkbox, inputData1, inputData2, inputData3, strSelectHtml, authCell
      var cell1,cell2,cell3,cell4;

      for(var i = 0; i <  arrData.length; i++){
        row = grid.insertRow( tr.length ); 

        cell0 = row.insertCell(0);
        cell1 = row.insertCell(1);
        cell2 = row.insertCell(2);
        cell3 = row.insertCell(3);
        cell4 = row.insertCell(4);
        cell0.classList.add("text-center");
        cell1.classList.add("text-center");
        cell2.classList.add("text-center");
        cell3.classList.add("text-center");
        cell4.classList.add("text-center");

        checkbox = "<input type='checkbox' value='I'/>";
        if(isEmpty){
          checkbox = "<input type='checkbox' value='I' checked/>";
        }
        selectbox  = "<select id='authCng' name='authCng' onchange='fnChkRow("+(i+1)+")' title='검색영역' class='form form-full'>";
        selectbox += "<option value='1'";
        if(arrData[i].AUTH_CD == 1) selectbox+= "selected";
        selectbox += ">관리자</option>";
        selectbox += "<option value='2'";
        if(arrData[i].AUTH_CD == 2) selectbox+= "selected";
        selectbox += ">부서관리자</option>";
         + "</select>";
         
        cell0.innerHTML = checkbox;
        cell4.innerHTML = selectbox;
        if(!isEmpty){
          cell1.innerHTML = arrData[i].SKLSTF_NO;
          cell2.innerHTML = arrData[i].tb_stud_gdc_pldc_tgt_pn.SKLSTF_NM;
          cell3.innerHTML = arrData[i].tb_stud_gdc_pldc_tgt_pn.DEPT_NM;
          cell4.value = arrData[i].AUTH_CD;   
        }else{
          inputData1 = '<input type="text" name="sklstfNoT"  value="" class="form" title="사번" >'
          +'<button type="submit" name="btnSearch" title="조회" alt="조회" class="btn btn-outline btn-bordered btn-view"><img src="../img/icons/icon_search.png" /></td>';
          cell1.innerHTML = inputData1;
          inputData2 = '<input type="text" name="sklstfNoT"  value="" class="form form-full" title="성명" >';
          cell2.innerHTML = inputData2;
          inputData3 = '<input type="text" name="deptNmT"  value="" class="form form-full" title="부서명" >';
          cell3.innerHTML = inputData3;
        }
      }
    }
    function fnChkRow(idx){      
      let tr = grid.querySelectorAll("#grid input[type='checkbox']");            
      tr[idx].checked = true;
    }
    </script>
  </head>

  <body class="desktop">
    <h1 class="hidden">권한관리</h1>
    <div class="wrapper">
      <div id="content">
        <div class="section bg-white">
          <div class="container">
            <div class="content-block">
              <div class="content-block-header">
                <div class="block-title">
                  <h3 class="title">
                    <strong><span class="text-blue">권한</span>관리</strong>
                  </h3>
                </div>
              </div>
              <div class="content-block-body">
                <div class="board-write">
                  <div class="table-container m-b-30">
                    <form id="frm" name="frm" action="/ekp/user/qanda/handleUBDQanda.do" method="post" onSubmit="return false;">
                      <table class="table table-form">
                        <caption>권한관리</caption>
                          <tbody>
                            <tr>
                              <th class="bg-grey" width="100">
                                  <label class="form-label form-label-lg" for="authCd">권한</label>
                              </th>
                              <td>
                                <div class="category">
  	                              <select id="authCd" name="authCd" class="form" title="권한코드">
                                    <option value="">- 선택 -</option>
                                    <option value="1">관리자</option>
                                    <option value="2">부서관리자</option>
                                  </select>
                                </div>
                              </td>
                              <th class="bg-grey" width="100">
                                  <label class="form-label form-label-lg" for="sklstfNo">성명</label>
                              </th>
                              <td>
                                <input type="text" name="sklstfNo" id="sklstfNo" value="" class="form" title="검색어" >
                                <button type="button" onclick="fnSearch(); return false;" class="btn btn-outline btn-bordered  btn-view"><img src="../img/icons/icon_search.png"></button>
                                <input type="text" name="sklstfNm" id="sklstfNm" value="" class="form" readonly/>
                                <input type="hidden" name="deptNm" id="deptNm" value="" class="form" hidden/>
                                <button type="submit" onclick="fnSearch(); return false;" class="btn btn-outline btn-bordered btn-style-a btn-sm">검색</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </form>
                    </div>
                  </div>
                  <div class="btns text-right">
                    <button type="button" id="btnAdd"  onclick="fnAddRow();" class="btn btn-outline btn-bordered btn-sm btn-style-a ">추가</button>
                    <button type="button" id="btnDel"  onclick="fnDeleteRow();" class="btn btn-outline btn-bordered btn-sm btn-style-a ">삭제</button>
                    <button type="button" id="btnSave" onclick="fnSave();" class="btn btn-outline btn-bordered btn-sm btn-style-a ">저장</button>
                    <br><br>
                  </div>
                </div>
                <div class="table-container m-b-30">
                  <table class="table table-lg" id="grid">
                    <caption>권한관리</caption>
                    <colgroup>
                      <col style="width:5%">
                      <col style="width:25%;">
                      <col style="width:25%">
                      <col style="width:30%;">
                      <col style="width:15%">
                    </colgroup>
                    <thead>
                      <tr>
                        <th  class="text-center bg-grey" scope="col"><input type='checkbox' name='checkAll' /></th>
                        <th  class="text-center bg-grey" scope="col">사번</th>
                        <th  class="text-center bg-grey" scope="col">이름</th>
                        <th  class="text-center bg-grey" scope="col">부서명</th>
                        <th  class="text-center bg-grey" scope="col">권한</th>
                      </tr>
                    </thead>
                    <tbody>
                       <% for(var i=0; i<rows; i++){ %>
                        <tr>
                          <td class="text-center"><input type='checkbox' name='checkboxes'/></td>
                          <td class="text-center"><%= data[i].SKLSTF_NO %></td>
                          <td class="text-center"><%= data[i].tb_stud_gdc_pldc_tgt_pn.SKLSTF_NM %></td>
                          <td class="text-center"><%= data[i].tb_stud_gdc_pldc_tgt_pn.DEPT_NM %></td>
                          <td >
                            <select id="authCng" name="authCng" title="검색영역"  onchange='fnChkRow(<%= i+1 %>)'  class='form form-full'>
                              <option value="1" <% if(data[i].AUTH_CD == '1'){ %> selected="selected"<% } %> >관리자</option>
                              <option value="2" <% if(data[i].AUTH_CD == '2'){ %> selected="selected"<% } %> >부서관리자</option>                        
                            </select>
                          </td>
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
                </div>
                <div class="pagination m-b-30" id="pager"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
